.admin-header
  %h2 Admin Panel
  = link_to "Back to Site", "/"
  = link_to "Static Pages", "/admin/statics"
  = link_to "Videos", "/admin/videos"
  = link_to "Photos", "/admin/photos"
  = link_to "Performances", "/admin"