.admin
  = render :partial => "header"
  .admin-container
    .top
      %h1 Videos
      = link_to "New Video", "/works/new_video"
    %table
      %tr
        %th
        %th Name
        %th Director
        %th URL
        %th Description
        %th
        %th
      - @works.each do |work|
        %tr
          %td
            - if work.image
              =image_tag work.image.url(:small)
          %td= work.name
          %td= work.director
          %td= work.video_url
          %td= work.description
          %td= link_to "Edit", "/works/#{work.id}/edit"
          %td= link_to "Delete", work, method: :delete, :confirm => "Are you sure?"