.admin
  = render :partial => "header"
  .admin-container
    .top
      %h1 Photos
      = link_to "New Photo", "/works/new_photo"
    %table
      %tr
        %th
        %th Name
        %th Photographer
        %th Description
        %th
        %th
      - @works.each do |work|
        %tr
          %td
            - if work.image
              =image_tag work.image.url(:small)
          %td= work.name
          %td= work.director
          %td= work.description
          %td= link_to "Edit", "/works/#{work.id}/edit"
          %td= link_to "Delete", work, method: :delete, :confirm => "Are you sure?"